html {
    width: 100%;
}
.col-lg-12 {
    width: 1349px;
}
#housesPerArea .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
.dc-select-menu {
    background: white;
    width: 100%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 20px;
    color: rebeccapurple;
    vertical-align: middle;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 0px;
}
button {
    margin-top: 10px;
    float: right;
    background-color: white;
    color: rebeccapurple;

}
button:hover {
    background-color: hotpink;
    color:white;
}
.intro_button {
    background-color: floralwhite;
    border: white solid 2px;
    height: 35px;
    color: navy;
}

a {
    color: hotpink;
    margin-top: 10px;

}
a:hover {
    color: orange;
}
#gitLink {
    position: relative;
    top: 15px;
    left: 40px;
}
.navbar-brand {
    font-size: 2em;
}
#totalnumHouses {
    font-size: 30px;
    color: rebeccapurple;
}
.chart-wrapper {
    border: white solid 2px;
}
#resetButton {
    font-size: 30px;
    color:red;
}
#resetButton:hover {
    font-size: 32px;
    color:darkred;
}
.dc-data-count {
    font-size: 25px;
    color:black;
    margin-left: 10px;
}

@media screen and (max-width: 900px){
    .navbar {
        height: 100px;
    }
    .navbar-brand {
        font-size: 1em;
        width: 50%;
        margin-left: 40px;
    }
    .intro_button {
    height: 20px;
    margin-bottom: 20px;
    }
    .col-lg-12 {
        width: 100%;
    }
    #resetButton {
    font-size: 20px;
    }
    #resetButton:hover {
        font-size: 22px;
    }
    .dc-data-count {
        font-size: 15px;
    }
}



