.col-lg-12 {
    width: 1349px;
}
#housesPerArea .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}
.dc-select-menu {
    background: white;
    width: 100%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 20px;
    color: rebeccapurple;
    vertical-align: middle;
    text-align: left;
    padding-top: 4px;
    padding-bottom: 0px;
}
button {
    margin-top: 10px;
    float: right;
    background-color: white;
    color: rebeccapurple;

}
.intro_button {
    background-color: floralwhite;
    border: black dotted 2px;
    height: 35px;
    color: navy;
}

a {
    color: orange;
    margin-top: 10px;

}
a:hover {
    color: orange;
}
#gitLink {
    position: relative;
    top: 15px;
    left: 40px;
}
.navbar-brand {
    font-size: 2em;
}
#totalnumHouses {
    font-size: 30px;
    color: rebeccapurple;
}
.chart-wrapper {
    border: white solid 2px;
}

@media screen (max-width: 768px){
    .navbar-brand {
        font-size: 1em;
    }
}


